@font-face{
    font-family: Modernist;
    src: url(font/Regular_Weight_Desktop/Sk-Modernist-Regular.otf);
}
html{
    font-family: Modernist;
    background-color: #fefcf5;
    overflow-x: clip;
}
.arrow{
    position: relative;
    top: 10px;
    padding-right: 10px;
    aspect-ratio: 1/1;
    width: 30px;
}
.returnButton{
    background-color: #E5E4E2;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 40px;
    margin-left: 5%;
    border-radius: 20px;
}
.returnLink{
    text-decoration: none;
    width: 200px;
    height: 40px;
    background-color: blue;
}
.returnTxt{
    text-decoration: none;
    margin-left: 0;
    margin-top: 0;
    width: 200px;
    color: black;
    font-size: 1.25rem;
}
@media screen and (max-width:480px){ 
    .all{
        display: block;
    }
    .topSection{
        display: none;
        grid-auto-flow: column;
        grid-auto-columns: 30% 70%;
    }
    .woksForDinnerLogo{
        width: 100%;
    }
    .titleText{
        margin-left: 5%;
        font-size: 3rem;
        margin-bottom: 2%;
    }
    .stats{
        position: relative;
        left: 7%;
        width: 90%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 30% 70%;
    }
    .Year{
        font-size: 0.75rem;
        font-weight: bold;
    }
    .languages{
        font-size: 0.75rem;
        font-weight: bold;
    }
    .description{
        position: relative;
        left: 20%;
        width: 60%;
        font-size: 1rem;
        text-align: center;
    }
    .SeccondSection{
        margin-top: 5%;
        display: none;
        grid-auto-flow: column;
        grid-auto-columns: 60% 40%;
    }
    .CTAHomepage{
        margin-left: 5%;
        width: 90%;
        object-fit: cover;
        border-radius: 20px;
    }
    .p1{
        text-align: center;
        position: relative;
        margin-left: 20%;
        top: 10%;
        width: 60%;
        font-size: 1rem;
    }
    .CTAPhoto{
        margin-left: 5%;
        width: 90%;
        object-fit: cover;
        border-radius: 20px;
    }
    .p2{
        text-align: center;
        margin-left: 20%;
        margin-top: 5%;
        width: 60%;
        font-size: 1rem;
    }
}
@media screen and (min-width:481px){ 
    .all{
        display: none;
    }
    .topSection{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 30% 70%;
    }
    .woksForDinnerLogo{
        width: 100%;
    }
    .titleText{
        font-size: 5rem;
        margin-bottom: 2%;
    }
    .stats{
        position: relative;
        left: 5%;
        width: 90%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 15% 85%;
    }
    .Year{
        font-size: 1rem;
        font-weight: bold;
    }
    .languages{
        font-size: 1rem;
        font-weight: bold;
    }
    .description{
        position: relative;
        left: 15%;
        width: 60%;
        font-size: 1.25rem;
    }
    .SeccondSection{
        margin-top: 5%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 60% 40%;
    }
    .CTAHomepage{
        margin-left: 5%;
        width: 80%;
        object-fit: cover;
        border-radius: 20px;
    }
    .p1{
        position: relative;
        top: 10%;
        width: 60%;
        font-size: 1.25rem;
    }
    .CTAPhoto{
        margin-top: 30%;
        margin-left: -5%;
        margin-bottom: 5%;
        width: 90%;
        object-fit: cover;
        border-radius: 20px;
    }
    .p2{
        margin-left: 20%;
        margin-top: 5%;
        width: 50%;
        font-size: 1.25rem;
    }
}
